body {
    background-color: #ffd6e3;
    color:  #350a0a;
    font-family: Arial, sans-serif;
}

h1 {
    color: #c2185b;
}

h2 {
    color: #c2185b;
}

#erro {
    color: red;
}

ul {
    padding-left: 20px;
}

li {
    margin: 8px 0;
}

button {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

button:nth-of-type(1) {
    background-color: #4CAF50;
    color: white;
}

button:nth-of-type(2) {
    background-color: #f44336;
    color: white;
}